In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/tiagosilva/Air_Traffic_Passenger_Statistics.csv")

df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July

In [3]:
valores_nulos = df.isnull().sum()

print(valores_nulos)

Activity Period                 0
Operating Airline               0
Operating Airline IATA Code    54
Published Airline               0
Published Airline IATA Code    54
GEO Summary                     0
GEO Region                      0
Activity Type Code              0
Price Category Code             0
Terminal                        0
Boarding Area                   0
Passenger Count                 0
Adjusted Activity Type Code     0
Adjusted Passenger Count        0
Year                            0
Month                           0
dtype: int64

In [5]:
duplicados = df.duplicated().sum()

print(duplicados)

0

In [6]:
estatistica_descritiva = df.describe()

print(estatistica_descritiva)

       Activity Period  Passenger Count  Adjusted Passenger Count  \
count     15007.000000     15007.000000              15007.000000
mean     201045.073366     29240.521090              29331.917105
std         313.336196     58319.509284              58284.182219
min      200507.000000         1.000000                  1.000000
25%      200803.000000      5373.500000               5495.500000
50%      201011.000000      9210.000000               9354.000000
75%      201308.000000     21158.500000              21182.000000
max      201603.000000    659837.000000             659837.000000

               Year
count  15007.000000
mean    2010.385220
std        3.137589
min     2005.000000
25%     2008.000000
50%     2010.000000
75%     2013.000000
max     2016.000000

In [7]:
colunas_categoricas = df.select_dtypes(include=["object"]).columns
valores_unicos_categoricos = {col: df[col].unique()for col in colunas_categoricas}

print(valores_unicos_categoricos)

{'Operating Airline': array(['ATA Airlines', 'Air Canada ', 'Air China', 'Air France',
       'Air New Zealand', 'AirTran Airways', 'Alaska Airlines',
       'All Nippon Airways', 'American Airlines',
       'American Eagle Airlines', 'Asiana Airlines',
       'Atlantic Southeast Airlines', 'BelAir Airlines',
       'British Airways', 'Cathay Pacific', 'China Airlines',
       'Delta Air Lines', 'EVA Airways', 'Frontier Airlines',
       'Hawaiian Airlines', 'Horizon Air ', 'Icelandair',
       'Independence Air', 'Japan Airlines', 'KLM Royal Dutch Airlines',
       'Korean Air Lines', 'Lufthansa German Airlines', 'Mesa Airlines',
       'Mexicana Airlines', 'Midwest Airlines', 'Northwest Airlines',
       'Philippine Airlines', 'Singapore Airlines', 'SkyWest Airlines',
       'Sun Country Airlines', 'TACA', 'US Airways', 'United Airlines',
       'United Airlines - Pre 07/01/2013', 'Virgin Atlantic',
       'WestJet Airlines', 'Boeing Company', 'Miami Air International',
       'Air Canada Jazz', 'Qantas Airways', 'Ameriflight',
       'Spirit Airlines', 'Xtra Airways',
       'Evergreen International Airlines', 'Aeromexico',
       'JetBlue Airways ', 'ExpressJet Airlines', 'Southwest Airlines',
       'Virgin America', 'Aer Lingus', 'Allegiant Air', 'Jet Airways',
       'Emirates ', 'Mesaba Airlines', 'World Airways', 'Air Berlin',
       'Republic Airlines', 'Servisair', 'Pacific Aviation',
       'Swiss International', 'LAN Peru', 'Swissport USA',
       'XL Airways France', 'China Eastern', 'SAS Airlines',
       'Atlas Air, Inc', 'Compass Airlines', 'Etihad Airways',
       'China Southern', 'Turkish Airlines', 'COPA Airlines, Inc.',
       'Air India Limited'], dtype=object), 'Operating Airline IATA Code': array(['TZ', 'AC', 'CA', 'AF', 'NZ', 'FL', 'AS', 'NH', 'AA', 'MQ', 'OZ',
       'EV', '4T', 'BA', 'CX', 'CI', 'DL', 'BR', 'F9', 'HA', 'QX', 'FI',
       'DH', 'JL', 'KL', 'KE', 'LH', 'YV', 'MX', 'YX', 'NW', 'PR', 'SQ',
       'OO', 'SY', 'TA', 'US ', 'UA', 'VS', 'WS', nan, 'GL', 'QK', 'QF',
       'A8', 'NK', 'XP', 'EZ', 'AM', 'B6', 'XE', 'WN', 'VX', 'EI', 'G4',
       '9W', 'BBB', 'EK', 'XJ', 'WO', 'AB', 'RW', 'LX', 'LP', 'SE', 'MU',
       'SK', '5Y', 'CP', 'EY', 'CZ', 'TK', 'CM', 'AI'], dtype=object), 'Published Airline': array(['ATA Airlines', 'Air Canada ', 'Air China', 'Air France',
       'Air New Zealand', 'AirTran Airways', 'Alaska Airlines',
       'All Nippon Airways', 'American Airlines', 'Asiana Airlines',
       'Delta Air Lines', 'BelAir Airlines', 'British Airways',
       'Cathay Pacific', 'China Airlines', 'EVA Airways',
       'Frontier Airlines', 'Hawaiian Airlines', 'Icelandair',
       'Independence Air', 'Japan Airlines', 'KLM Royal Dutch Airlines',
       'Korean Air Lines', 'Lufthansa German Airlines', 'US Airways',
       'Mexicana Airlines', 'Midwest Airlines', 'Northwest Airlines',
       'Philippine Airlines', 'Singapore Airlines',
       'United Airlines - Pre 07/01/2013', 'Sun Country Airlines', 'TACA',
       'United Airlines', 'Virgin Atlantic', 'WestJet Airlines',
       'Boeing Company', 'Miami Air International', 'Qantas Airways',
       'Ameriflight', 'Spirit Airlines', 'Xtra Airways',
       'Evergreen International Airlines', 'Aeromexico',
       'JetBlue Airways ', 'Southwest Airlines', 'Virgin America',
       'Aer Lingus', 'Allegiant Air', 'Jet Airways', 'Emirates ',
       'World Airways', 'Air Berlin', 'Republic Airlines', 'Servisair',
       'Pacific Aviation', 'Swiss International', 'LAN Peru',
       'Swissport USA', 'XL Airways France', 'China Eastern',
       'SAS Airlines', 'Atlas Air, Inc', 'Etihad Airways',
       'China Southern', 'Turkish Airlines', 'COPA Airlines, Inc.',
       'Air India Limited'], dtype=object), 'Published Airline IATA Code': array(['TZ', 'AC', 'CA', 'AF', 'NZ', 'FL', 'AS', 'NH', 'AA', 'OZ', 'DL',
       '4T', 'BA', 'CX', 'CI', 'BR', 'F9', 'HA', 'FI', 'DH', 'JL', 'KL',
       'KE', 'LH', 'US ', 'MX', 'YX', 'NW', 'PR', 'SQ', 'UA', 'SY', 'TA',
       'VS', 'WS', nan, 'GL', 'QF', 'A8', 'NK', 'XP', 'EZ', 'AM', 'B6',
       'WN', 'VX', 'EI', 'G4', '9W', 'BBB', 'EK', 'WO', 'AB', 'RW', 'LX',
       'LP', 'SE', 'MU', 'SK', '5Y', 'EY', 'CZ', 'TK', 'CM', 'AI'],
      dtype=object), 'GEO Summary': array(['Domestic', 'International'], dtype=object), 'GEO Region': array(['US', 'Canada', 'Asia', 'Europe', 'Australia / Oceania', 'Mexico',
       'Central America', 'Middle East', 'South America'], dtype=object), 'Activity Type Code': array(['Deplaned', 'Enplaned', 'Thru / Transit'], dtype=object), 'Price Category Code': array(['Low Fare', 'Other'], dtype=object), 'Terminal': array(['Terminal 1', 'International', 'Terminal 3', 'Other', 'Terminal 2'],
      dtype=object), 'Boarding Area': array(['B', 'G', 'A', 'E', 'C', 'F', 'Other', 'D'], dtype=object), 'Adjusted Activity Type Code': array(['Deplaned', 'Enplaned', 'Thru / Transit * 2'], dtype=object), 'Month': array(['July', 'August', 'September', 'October', 'November', 'April',
       'December', 'January', 'February', 'March', 'May', 'June'],
      dtype=object)}

In [8]:
df[colunas_categoricas] = df[colunas_categoricas].apply(lambda x: x.str.strip().str.lower())

print(valores_unicos_categoricos)

{'Operating Airline': array(['ATA Airlines', 'Air Canada ', 'Air China', 'Air France',
       'Air New Zealand', 'AirTran Airways', 'Alaska Airlines',
       'All Nippon Airways', 'American Airlines',
       'American Eagle Airlines', 'Asiana Airlines',
       'Atlantic Southeast Airlines', 'BelAir Airlines',
       'British Airways', 'Cathay Pacific', 'China Airlines',
       'Delta Air Lines', 'EVA Airways', 'Frontier Airlines',
       'Hawaiian Airlines', 'Horizon Air ', 'Icelandair',
       'Independence Air', 'Japan Airlines', 'KLM Royal Dutch Airlines',
       'Korean Air Lines', 'Lufthansa German Airlines', 'Mesa Airlines',
       'Mexicana Airlines', 'Midwest Airlines', 'Northwest Airlines',
       'Philippine Airlines', 'Singapore Airlines', 'SkyWest Airlines',
       'Sun Country Airlines', 'TACA', 'US Airways', 'United Airlines',
       'United Airlines - Pre 07/01/2013', 'Virgin Atlantic',
       'WestJet Airlines', 'Boeing Company', 'Miami Air International',
       'Air Canada Jazz', 'Qantas Airways', 'Ameriflight',
       'Spirit Airlines', 'Xtra Airways',
       'Evergreen International Airlines', 'Aeromexico',
       'JetBlue Airways ', 'ExpressJet Airlines', 'Southwest Airlines',
       'Virgin America', 'Aer Lingus', 'Allegiant Air', 'Jet Airways',
       'Emirates ', 'Mesaba Airlines', 'World Airways', 'Air Berlin',
       'Republic Airlines', 'Servisair', 'Pacific Aviation',
       'Swiss International', 'LAN Peru', 'Swissport USA',
       'XL Airways France', 'China Eastern', 'SAS Airlines',
       'Atlas Air, Inc', 'Compass Airlines', 'Etihad Airways',
       'China Southern', 'Turkish Airlines', 'COPA Airlines, Inc.',
       'Air India Limited'], dtype=object), 'Operating Airline IATA Code': array(['TZ', 'AC', 'CA', 'AF', 'NZ', 'FL', 'AS', 'NH', 'AA', 'MQ', 'OZ',
       'EV', '4T', 'BA', 'CX', 'CI', 'DL', 'BR', 'F9', 'HA', 'QX', 'FI',
       'DH', 'JL', 'KL', 'KE', 'LH', 'YV', 'MX', 'YX', 'NW', 'PR', 'SQ',
       'OO', 'SY', 'TA', 'US ', 'UA', 'VS', 'WS', nan, 'GL', 'QK', 'QF',
       'A8', 'NK', 'XP', 'EZ', 'AM', 'B6', 'XE', 'WN', 'VX', 'EI', 'G4',
       '9W', 'BBB', 'EK', 'XJ', 'WO', 'AB', 'RW', 'LX', 'LP', 'SE', 'MU',
       'SK', '5Y', 'CP', 'EY', 'CZ', 'TK', 'CM', 'AI'], dtype=object), 'Published Airline': array(['ATA Airlines', 'Air Canada ', 'Air China', 'Air France',
       'Air New Zealand', 'AirTran Airways', 'Alaska Airlines',
       'All Nippon Airways', 'American Airlines', 'Asiana Airlines',
       'Delta Air Lines', 'BelAir Airlines', 'British Airways',
       'Cathay Pacific', 'China Airlines', 'EVA Airways',
       'Frontier Airlines', 'Hawaiian Airlines', 'Icelandair',
       'Independence Air', 'Japan Airlines', 'KLM Royal Dutch Airlines',
       'Korean Air Lines', 'Lufthansa German Airlines', 'US Airways',
       'Mexicana Airlines', 'Midwest Airlines', 'Northwest Airlines',
       'Philippine Airlines', 'Singapore Airlines',
       'United Airlines - Pre 07/01/2013', 'Sun Country Airlines', 'TACA',
       'United Airlines', 'Virgin Atlantic', 'WestJet Airlines',
       'Boeing Company', 'Miami Air International', 'Qantas Airways',
       'Ameriflight', 'Spirit Airlines', 'Xtra Airways',
       'Evergreen International Airlines', 'Aeromexico',
       'JetBlue Airways ', 'Southwest Airlines', 'Virgin America',
       'Aer Lingus', 'Allegiant Air', 'Jet Airways', 'Emirates ',
       'World Airways', 'Air Berlin', 'Republic Airlines', 'Servisair',
       'Pacific Aviation', 'Swiss International', 'LAN Peru',
       'Swissport USA', 'XL Airways France', 'China Eastern',
       'SAS Airlines', 'Atlas Air, Inc', 'Etihad Airways',
       'China Southern', 'Turkish Airlines', 'COPA Airlines, Inc.',
       'Air India Limited'], dtype=object), 'Published Airline IATA Code': array(['TZ', 'AC', 'CA', 'AF', 'NZ', 'FL', 'AS', 'NH', 'AA', 'OZ', 'DL',
       '4T', 'BA', 'CX', 'CI', 'BR', 'F9', 'HA', 'FI', 'DH', 'JL', 'KL',
       'KE', 'LH', 'US ', 'MX', 'YX', 'NW', 'PR', 'SQ', 'UA', 'SY', 'TA',
       'VS', 'WS', nan, 'GL', 'QF', 'A8', 'NK', 'XP', 'EZ', 'AM', 'B6',
       'WN', 'VX', 'EI', 'G4', '9W', 'BBB', 'EK', 'WO', 'AB', 'RW', 'LX',
       'LP', 'SE', 'MU', 'SK', '5Y', 'EY', 'CZ', 'TK', 'CM', 'AI'],
      dtype=object), 'GEO Summary': array(['Domestic', 'International'], dtype=object), 'GEO Region': array(['US', 'Canada', 'Asia', 'Europe', 'Australia / Oceania', 'Mexico',
       'Central America', 'Middle East', 'South America'], dtype=object), 'Activity Type Code': array(['Deplaned', 'Enplaned', 'Thru / Transit'], dtype=object), 'Price Category Code': array(['Low Fare', 'Other'], dtype=object), 'Terminal': array(['Terminal 1', 'International', 'Terminal 3', 'Other', 'Terminal 2'],
      dtype=object), 'Boarding Area': array(['B', 'G', 'A', 'E', 'C', 'F', 'Other', 'D'], dtype=object), 'Adjusted Activity Type Code': array(['Deplaned', 'Enplaned', 'Thru / Transit * 2'], dtype=object), 'Month': array(['July', 'August', 'September', 'October', 'November', 'April',
       'December', 'January', 'February', 'March', 'May', 'June'],
      dtype=object)}

In [9]:
df_sem_nulos = df.dropna()

df_sem_nulos.isnull().sum(), df_sem_nulos.shape

(Activity Period                0
 Operating Airline              0
 Operating Airline IATA Code    0
 Published Airline              0
 Published Airline IATA Code    0
 GEO Summary                    0
 GEO Region                     0
 Activity Type Code             0
 Price Category Code            0
 Terminal                       0
 Boarding Area                  0
 Passenger Count                0
 Adjusted Activity Type Code    0
 Adjusted Passenger Count       0
 Year                           0
 Month                          0
 dtype: int64,
 (14953, 16))

In [10]:
df.to_csv("/Users/tiagosilva/backup_air_traffic.csv", index=False)

print("Arquivo CSV guardado com sucesso!")

Arquivo CSV guardado com sucesso!

In [11]:
df.to_csv("/Users/tiagosilva/Air_Traffic_Passenger_Statistics.csv", index=False)

print("Arquivo CSV substituido com sucesso!")

Arquivo CSV substituido com sucesso!